/*div  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .6cm;
    padding-top: 30px;
    padding-bottom: 30px;
    
}*/

.question  {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .6cm;
    padding: 10px 0 10px 0;

}
